/* -----------Font From Google----------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');

/* -----------CSS Reset----------- */

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray-dark: #333333;
  --clr-gray-medium: #4f4f4f;
  --clr-gray-semi: #828282;
  --clr-gray-light: #bdbdbd;
  --clr-pink: #ff3294;
  --bg-primary: #f2f2f2;
  --bg-secondary: #f5f5f5;
  --doc-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 140rem;
  width: min(100% - 3.5rem);
  margin: 0 auto;
}

/* -----------Login-Register-Modal----------- */
.register-login-modal {
  width: min(100% - 3.5rem);
  margin: 0 auto;
  position: relative;
}

.register-login-modal-close {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  cursor: pointer;
}

.register-login-modal-wrapper {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 85px;
}

.register-login-modal-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: var(--clr-black);
  text-align: center;
  margin-bottom: 2.5rem;
}

.register-login-modal-socials-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 2px solid #e0e0e0;
  border-radius: 2.7rem;
  height: 4.5rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.register-login-modal-socials-btn:last-child {
  margin-bottom: 0;
}

.register-login-modal-socials-btn-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 2.2rem;
  width: 18.6rem;
  color: var(--clr-gray-dark);
}

.register-login-modal-socials-btn-icon {
  font-size: 2.2rem;
  color: var(--clr-gray-medium);
}

.register-login-modal-or-text {
  margin: 2.5rem 0;
  position: relative;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--clr-gray-semi);
  padding: 0 15px;
  background-color: var(--clr-white);
  z-index: 2;
}

.register-login-modal-or-line {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 2rem 0;
}

.register-login-modal-or-line:before {
  border-top: 2px solid var(--clr-gray-light);
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.register-login-modal-or-text {
  font-family: 'Quicksand', sans-serif;
  background: var(--clr-white);
  padding: 0 15px;
  text-align: center;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--clr-gray-semi);
}

.register-login-modal-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 2.8rem;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3.5rem;
  color: var(--clr-gray-semi);
  padding-bottom: 42.5px;
}

.register-login-modal-text-link,
.register-login-modal-register-text-link,
.register-login-modal-login-text-link {
  color: var(--clr-black);
  cursor: pointer;
}

.register-login-modal-register-text,
.register-login-modal-login-text {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.5px;
  color: var(--clr-gray-semi);
  margin-top: 1.5rem;
}

.register-login-modal-form {
  font-family: 'Quicksand', sans-serif;
  margin-top: 1.5rem;
}

.register-login-modal-form-group {
  margin-bottom: 1.5rem;
}

.register-login-modal-form-group-input {
  display: block;
  border: 2px solid #e0e0e0;
  border-radius: 7px;
  width: 100%;
  height: 4.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--clr-black);
  padding: 0 15px;
}

.register-login-modal-form-group-input::placeholder {
  color: var(--clr-gray-light);
}

.register-login-modal-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  background: var(--clr-pink);
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-white);
  box-shadow: 0 5px 0 #c41b6c;
  cursor: pointer;
}

.register-login-modal-form-btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.register-login-modal-form.not-show {
  display: none;
}

.register-login-modal-form.hide {
  display: none;
}

.register-login-modal-register-text.hide {
  display: none;
}

.register-login-modal-socials-btn.not-show {
  display: none;
}

.register-login-modal-login-text.hide {
  display: none;
}

/* -----------Navbar----------- */
.navbar {
  background: var(--clr-white);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.navbar-brand {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.5rem;
}

.navbar-search {
  width: 55rem;
  border: 1px solid #e0e0e0;
  border-radius: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 6.8rem;
}

.navbar-search-group {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  flex: 1;
}

.navbar-search-group > svg {
  width: 1.8rem;
}

.navbar-search-field {
  flex: 1;
  height: 3.5rem;
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-gray-dark);
  border-right: 1px solid #e0e0e0;
  padding: 25px 0;
  padding-right: 20px;
}

.navbar-search-field::placeholder {
  color: var(--clr-gray-light);
}

.navbar-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  position: relative;
  width: 12.5rem;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.navbar-filters > svg {
  width: 1.8rem;
}

.navbar-filters-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  color: var(--clr-gray-dark);
}

.navbar-filters-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  padding: 11px;
  border-radius: 50%;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: -0.95px;
  text-align: center;
}

.navbar-profile {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  cursor: pointer;
  position: relative;
}

.navbar-profile > svg {
  width: 1.2rem;
}

.navbar-profile-avatar > svg {
  width: 2.4rem;
}

.navbar-profile-dropdown {
  padding: 15px 0 7px;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 2;
  background-color: var(--clr-white);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: none;
}

.navbar-profile-dropdown.active {
  display: block;
}

.navbar-profile-dropdown-link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 8px 15px;
  font-weight: 500;
  color: var(--clr-gray-semi);
}

.navbar-profile-dropdown-link:hover {
  color: var(--clr-white);
  background-color: var(--clr-pink);
  border-radius: 5px;
}

.navbar-profile-dropdown-link:hover svg {
  color: var(--clr-white);
  fill: var(--clr-white);
}

.navbar-profile-dropdown-link > svg {
  width: 2.4rem;
}

.navbar-profile-dropdown-name {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 15px;
}

.navbar-profile-dropdown-mail {
  margin: 0.85rem 0 1.5rem 0;
  color: var(--clr-gray-semi);
  font-weight: 500;
  padding: 0 15px;
}

/* ----------Mood-Emoji---------- */
.mood-emoji {
  padding-top: 6rem;
}

.mood-emoji-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

.mood-emoji-content {
  margin-top: 3.7rem;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.mood-emoji-visual {
  border-right: 1px solid #e0e0e0;
  background-color: var(--bg-secondary);
  height: 5rem;
  padding: 0 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide:nth-child(27) .mood-emoji-visual {
  border-right: 0;
}

.mood-emoji-visual:hover {
  background-color: var(--clr-pink);
}

.mood-emoji-visual > svg {
  width: 3.5rem;
  height: 3.5rem;
}

.mood-emoji-visual:hover > svg path {
  fill: var(--clr-white);
}

.tippy-content {
  background-color: var(--clr-pink);
  color: var(--clr-white);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 8px;
}

.tippy-box {
  background-color: var(--clr-pink) !important;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  border-top-color: var(--clr-pink) !important;
}

/* ----------Picked-Select--------- */
.picked-select {
  width: 35rem;
}

.picked-select-content {
  position: relative;
}

.picked-select-btn {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-light);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.picked-select-arrow.expanded {
  transform: rotate(180deg);
}

.picked-select-options {
  background-color: var(--clr-white);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 0.75rem;
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 2;
  width: 100%;
}

.picked-select-options.show {
  display: block;
}

.picked-select-options-item {
  padding: 12px 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-medium);
}

.picked-select-options-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.picked-select-options-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.picked-select-options-item:active,
.picked-select-options-item:focus,
.picked-select-options-item:hover,
.picked-select-options-item[aria-selected='true'] {
  background-color: var(--bg-secondary);
  cursor: pointer;
}

/* -----------Quote-Card----------- */

.quote-cards {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  flex-wrap: wrap;
}

.quote-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  cursor: pointer;
}

/* Demo Purpose */

/* .quote-cards {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  flex-wrap: wrap;
}

.quote-card {
  width: 25rem;
  height: 25rem;
  border: 1px solid #e0e0e0;
  padding: 15px;
  cursor: pointer;
} */

.quote-card-likes {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
  align-items: center;
}

.quote-card-likes-icon > svg {
  width: 2.2rem;
  height: 2rem;
  cursor: pointer;
}

.quote-card-likes-icon:hover svg path {
  fill: var(--clr-pink);
}

.quote-card-likes-count {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--clr-gray-semi);
}

.quote-card-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--clr-gray-medium);
  margin: 2rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 13rem;
}

.quote-card-author {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.quote-card-author-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.quote-card-author-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--clr-gray-semi);
}

/* ----------Topic-Browse---------- */
.topic-browse {
  width: 20rem;
}

.topic-browse-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-light);
}

.topic-browse-list {
  margin-top: 2.5rem;
}

.topic-browse-list-item {
  background: var(--bg-primary);
  border-radius: 3px;
  padding: 8px 12px;
  margin-bottom: 0.85rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--clr-gray-semi);
}

.topic-browse-list-item:hover {
  background-color: var(--clr-pink);
  color: var(--clr-white);
}

.topic-browse-list-item:last-child {
  margin-bottom: 0;
}

/* -***********Home-Main***********- */
.home-main-content {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.home-main-left-content {
  flex: 1;
}

.home-main-right-content {
  width: 20rem;
}

.home-main-loading-text {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--clr-gray-semi);
}

/* ----------Footer---------- */
.footer {
  margin-top: 6rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
  border-top: 1px solid #e0e0e0;
  padding: 15px 0 65px;
}

.footer-brand {
  width: 38rem;
}

.footer-empty {
  width: 38rem;
}

.footer-brand-title {
  font-size: 3.2rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: var(--clr-gray-light);
}

.footer-brand-text,
.footer-cpr-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--clr-gray-semi);
  margin-top: 0.5rem;
}

.footer-brand-text-link {
  color: var(--clr-pink);
  font-weight: 600;
}

/* ----------Filter-Modal---------- */

.filter-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  padding: 25px 35px;
  border-bottom: 1px solid #f2f2f2;
}

.filter-modal-title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.filter-modal-close > svg {
  cursor: pointer;
  width: 1.8rem;
}

.filter-modal-body {
  padding: 0 35px;
  height: calc(100vh - 32rem);
  overflow-y: auto;
}

.filter-modal-body::-webkit-scrollbar {
  width: 10px;
}

.filter-modal-body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

.filter-modal-body::-webkit-scrollbar-thumb {
  background-color: var(--clr-pink);
}

.filter-modal-filters {
  padding: 35px 0;
  border-top: 1px solid #f2f2f2;
}

.filter-modal-filters-heading {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 3.5rem;
}

.filter-modal-filters-title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.filter-modal-filters-search {
  display: flex;
  align-items: center;
  column-gap: 0.85rem;
  background-color: var(--clr-white);
  border-radius: 5px;
  height: 4.5rem;
  width: 25rem;
  padding: 0 12px;
}

.filter-modal-filters-search.active {
  border: 1px solid #e0e0e0;
}

.filter-modal-filters-search.active .filter-modal-filters-search-icon {
  pointer-events: none;
}

.filter-modal-filters-search-icon {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

.filter-modal-filters-search-icon > svg {
  fill: #e0e0e0;
}

.filter-modal-filters-search > input {
  display: none;
  width: 19rem;
  height: 100%;
  border: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--clr-gray-dark);
  outline: none;
}

.filter-modal-filters-search > input::placeholder {
  color: #e0e0e0;
}

.filter-modal-filters-search.active > input {
  display: block;
}

.filter-modal-filters-checks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem 2.5rem;
  flex-wrap: wrap;
}

.filter-modal-filters-check {
  flex: 1 1 22rem;
  position: relative;
  padding-left: 40px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.35;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--clr-gray-dark);
}

.filter-modal-filters-check > input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-modal-filters-check-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.3rem;
  width: 2.3rem;
  background-color: #ededed;
  border-radius: 5px;
}

.filter-modal-filters-check:hover
  input
  ~ .filter-modal-filters-check-checkmark {
  background-color: var(--clr-gray-light);
}

.filter-modal-filters-check
  input:checked
  ~ .filter-modal-filters-check-checkmark {
  background-color: var(--clr-pink);
}

.filter-modal-filters-check-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.filter-modal-filters-check
  input:checked
  ~ .filter-modal-filters-check-checkmark:after {
  display: block;
}

.filter-modal-filters-check .filter-modal-filters-check-checkmark:after {
  left: 8px;
  top: 2.5px;
  width: 7px;
  height: 14px;
  border: solid var(--clr-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-modal-filters-showall {
  display: flex;
  align-items: center;
  column-gap: 0.85rem;
  margin-top: 2rem;
  cursor: pointer;
}

.filter-modal-filters-showall-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;
  border-bottom: 1px solid var(--clr-gray-dark);
  color: var(--clr-gray-dark);
}

.filter-modal-footer {
  padding: 25px 35px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-modal-footer-btn {
  display: block;
  width: fit-content;
  height: 5.5rem;
  padding: 0 25px;
  background: var(--clr-pink);
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-white);
  box-shadow: 0 5px 0 #c41b6c;
  cursor: pointer;
}

.filter-modal-footer-btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.filter-modal-footer-clear {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid var(--clr-gray-semi);
  color: var(--clr-gray-semi);
  cursor: pointer;
}

/* -***********Quote-Page***********- */
.quote-header {
  padding: 25px;
  background-color: #121212;
  display: flex;
  justify-content: flex-end;
}

.quote-header-close {
  cursor: pointer;
}

.quote-body {
  max-width: 92rem;
  width: min(100% - 3.5rem);
  margin: 0 auto;
  padding-bottom: 55px;
}

.quote-body-heading {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 4rem;
  text-align: center;
  color: var(--clr-gray-light);
  padding: 25px 0;
}

.quote-body-heading-topic {
  text-transform: capitalize;
}

.quote-body-heading-author {
  text-transform: capitalize;
}

.quote-body-heading-start {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 20rem;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

.quote-body-author-avatar {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.quote-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.5rem;
  padding-top: 15px;
}

.quote-body-author {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.quote-body-author-profile {
  flex: 1;
}

.quote-body-author-name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--clr-gray-semi);
  display: block;
  margin-bottom: 0.5rem;
}

.quote-body-author-tags {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: var(--clr-gray-light);
}

.quote-body-author-tag {
  font-weight: 700;
  color: var(--clr-gray-semi);
}

.quote-body-author-tag.current,
.quote-body-author-tag:hover {
  color: var(--clr-pink);
}

.quote-body-options {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
  cursor: pointer;
}

.quote-body-options-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.75rem;
  transition: all 300ms ease-in;
}

.quote-body-options-item-name {
  color: var(--clr-gray-light);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.quote-body-options-item:hover svg > path {
  fill: var(--clr-pink);
}

.quote-body-options-item:hover .quote-body-options-item-name {
  color: var(--clr-pink);
}

.quote-body-text {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: var(--clr-gray-medium);
  margin-top: 5rem;
}

.quote-body-other-quotes,
.quote-body-similar-quotes {
  margin-top: 5rem;
}

.quote-body-other-quotes-cards,
.quote-body-similar-quotes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.quote-body-other-quotes-title,
.quote-body-similar-quotes-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--clr-gray-light);
}

/* -***********Category-Main***********- */
.category-main-content {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.category-main-left-content {
  flex: 1;
}

.category-main-right-content {
  width: 20rem;
}

.category-header {
  padding-top: 6rem;
}

.category-header-share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  width: 18rem;
  height: 5rem;
  background-color: var(--clr-white);
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--clr-gray-semi);
  cursor: pointer;
}

.category-header-share-btn:hover {
  color: var(--clr-pink);
  border: 1px solid var(--clr-pink);
}

.category-header-share-btn:hover svg > path {
  fill: var(--clr-pink);
}

.category-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  margin-top: 3.5rem;
}

.category-header-bg {
  width: 40rem;
  position: relative;
}

.category-header-desc {
  width: 60%;
}

.category-header-bg-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-header-bg-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.6rem;
  text-transform: capitalize;
  color: var(--clr-white);
}

.category-header-bg-text {
  display: block;
  margin-top: 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem;
  text-transform: capitalize;
  color: var(--clr-white);
}

.category-header-desc-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.5rem;
  margin-bottom: 1.5rem;
}

.category-header-desc-text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--clr-gray-semi);
}

.category-header-desc-list {
  display: flex;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.category-header-desc-list > svg {
  margin-top: 0.85rem;
}

.category-header-desc-list-tags {
  margin-left: 0.85rem;
  flex: 1;
}

.category-header-desc-list-tag {
  color: #2f80ed;
}

.author-header-dp {
  width: 35rem;
}

.author-header-dp > img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

/* ----------Sort-Select--------- */
.sort-select {
  width: 9.5rem;
}

.sort-select-content {
  position: relative;
}

.sort-select-btn {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-light);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.sort-select-arrow.expanded {
  transform: rotate(180deg);
}

.sort-select-options {
  background-color: var(--clr-white);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 0.75rem;
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 2;
  width: 100%;
}

.sort-select-options.show {
  display: block;
}

.sort-select-options-item {
  padding: 12px 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-medium);
}

.sort-select-options-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sort-select-options-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sort-select-options-item:active,
.sort-select-options-item:focus,
.sort-select-options-item:hover,
.sort-select-options-item[aria-selected='true'] {
  background-color: var(--bg-secondary);
  cursor: pointer;
}

/* Category-Results-Content */
.category-results-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.category-results-text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--clr-gray-light);
}

/* ----------Pro-Footer---------- */
.pro-footer {
  margin-top: 6rem;
}

.pro-footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
  border-top: 1px solid #e0e0e0;
  padding: 15px 0;
}

.pro-footer-brand {
  width: 38rem;
}

.pro-footer-brand-title {
  font-size: 3.2rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: var(--clr-gray-light);
}

.pro-footer-brand-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--clr-gray-semi);
  margin-top: 0.5rem;
}

.pro-footer-brand-text-link {
  color: var(--clr-pink);
  font-weight: 600;
}

.pro-footer-upgrade-btn {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: var(--clr-white);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  padding: 0 18px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--clr-gray-dark);
}

.pro-footer-upgrade > svg {
  width: 2rem;
}

.pro-footer-links-text {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--clr-gray-semi);
}

/* Mobile-Mood-Emoji */
.mood-emoji-mobile-data {
  background-color: var(--bg-secondary);
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  width: 36rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.mood-emoji-mobile-data-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mood-emoji-mobile-data-item {
  width: 7.12rem;
}

.mood-emoji-mobile-visual {
  border-right: 1px solid #e0e0e0;
  background-color: var(--bg-secondary);
  height: 6rem;
  padding: 0 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 3rem;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.mood-emoji-mobile-data-item:nth-child(5) .mood-emoji-mobile-visual,
.mood-emoji-mobile-data-item:nth-child(10) .mood-emoji-mobile-visual,
.mood-emoji-mobile-data-item:nth-child(15) .mood-emoji-mobile-visual,
.mood-emoji-mobile-data-item:nth-child(20) .mood-emoji-mobile-visual {
  border-right: 0;
}

.mood-emoji-mobile-visual:hover {
  background-color: var(--clr-pink);
}

.mood-emoji-mobile-visual > svg {
  width: 4rem;
  height: 4rem;
}

.mood-emoji-mobile-visual:hover > svg path {
  fill: var(--clr-white);
}

.moodmood-emoji-mobile-show {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--clr-gray-light);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

/* Mobile-Menu */

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--clr-white);
  box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.25);
}

.mobile-menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  padding: 14px 0;
}

.mobile-menu-link-icon > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.mobile-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.mobile-menu-link:hover .mobile-menu-link-text {
  color: var(--clr-pink);
}

.mobile-menu-link:hover .mobile-menu-link-icon > svg path {
  stroke: var(--clr-pink);
}

.mobile-menu-link-text {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: var(--clr-gray-light);
}

.load-more-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  background: var(--clr-pink);
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-white);
  box-shadow: 0 5px 0 #c41b6c;
  cursor: pointer;
  width: 30rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.load-more-btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

/* Media Queries */

@media (max-width: 945px) {
  .category-header-desc-title {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }

  .category-header-desc-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@media (min-height: 800px) {
  .register-login-modal-wrapper {
    padding-top: 150px;
  }
}

@media (max-width: 800px) {
  .navbar-search {
    width: 48rem;
  }

  .category-header-bg {
    width: 100%;
    height: 32rem;
  }

  .category-header-bg > img {
    width: 100%;
    height: 100%;
  }

  .category-header-desc {
    width: 100%;
    order: 2;
  }

  .category-header-content {
    flex-direction: column;
  }

  .author-header-dp {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 15px 0;
  }

  .navbar-brand-mobile {
    display: none;
  }

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-profile {
    display: none;
  }

  .navbar-content {
    column-gap: 5rem;
  }

  .navbar-search {
    flex: 1;
    height: 5rem;
    border: 0;
    border-radius: 5px;
  }

  .navbar-filters {
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-filters-text {
    display: none;
  }

  .navbar-filters-count {
    display: none;
  }

  .navbar-search {
    background-color: #f9f9f9;
  }

  .navbar-search-field {
    background-color: #f9f9f9;
    border-right: 0;
    padding-right: 10px;
  }

  .navbar-search-group > svg {
    fill: var(--clr-gray-semi);
  }

  .navbar-search-field::placeholder {
    color: var(--clr-gray-semi);
  }

  .home-main-content,
  .category-main-content {
    gap: 1.5rem;
  }

  .quote-header {
    padding: 15px;
    background-color: var(--clr-white);
  }

  .quote-header-close > svg path {
    fill: var(--clr-gray-medium);
  }

  .quote-body-heading {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 15px 0;
  }

  .quote-body-content {
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .quote-body-author {
    width: 100%;
  }

  .quote-body-options {
    align-self: flex-end;
  }

  .quote-body-text {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-top: 5rem;
  }

  .quote-body-author-avatar {
    width: 5rem;
    height: 5rem;
  }

  .quote-body-author-name {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  .quote-body-author-tags {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 601px) {
  .mood-emoji-mobile-data {
    display: none;
  }
}

@media (max-width: 600px) {
  .register-login-modal-close {
    right: 0;
  }

  .mood-emoji-content {
    display: none;
  }

  .mood-emoji-title {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .home-main-content,
  .category-main-content {
    flex-direction: column;
  }

  .topic-browse,
  .home-main-right-content,
  .category-main-right-content {
    width: 100%;
  }

  .topic-browse {
    padding-top: 50px;
  }

  .picked-select {
    width: 97%;
    margin: 0 auto;
  }

  .quote-card-text {
    font-size: 2.4rem;
    line-height: 3.2rem;
    -webkit-line-clamp: 4;
  }

  .filter-modal-body {
    padding: 0 15px;
  }

  .filter-modal-footer,
  .filter-modal-header {
    padding: 20px 15px;
  }

  .filter-modal-footer-btn {
    padding: 0 15px;
  }

  .filter-modal-filters-title {
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .filter-modal-filters-search {
    width: 22rem;
  }

  .filter-modal-filters-search > input {
    width: 18rem;
  }

  .pro-footer-content {
    padding-bottom: 90px;
  }
}

@media (max-width: 500px) {
  .navbar-content {
    column-gap: 1.5rem;
  }

  .category-header-bg {
    height: 100%;
  }

  .category-header-desc-list-tags {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 2.9rem;
  }
}

@media (max-width: 450px) {
  .navbar-search {
    padding: 0 10px;
  }

  .navbar-search-field {
    font-size: 1.3rem;
  }

  .navbar-search-group {
    column-gap: 0.85rem;
  }
}

@media (max-width: 400px) {
  .mood-emoji-mobile-data-item {
    width: 6.75rem;
  }
}
